.container-fluid
  .navbar-header
    %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#secondary-navigation' } }
      %span.sr-only= t('admin.toggle_navigation')
      %span.fa.icon-bar
      %span.fa.icon-bar
      %span.fa.icon-bar
    %a.navbar-brand.pjax{href: dashboard_path, style: "#{"padding-top: 0" if I18n.locale == :milenio}"}
      - unless white_label?
        %i.sprite-flags{style: 'vertical-align: top', class: "flag-#{I18n.locale}"}
      - if I18n.locale == :milenio
        = image_tag('header-milenio.png', style: "height: 50px; vertical-align: top")
      - else
        = _get_plugin_name[0] || 'Rails'
        %small= _get_plugin_name[1] || 'Admin'
  .collapse.navbar-collapse#secondary-navigation
    = render partial: 'layouts/rails_admin/secondary_navigation'
