!!! 5
%html{lang: I18n.locale}
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    - if Rails.env.test?
      :javascript
        window.errors = []
        window.onerror = function(a, b, c){
          window.errors.push([a, b, c]);
          return false; // false: don't swallow exceptions.
        }
    = csrf_meta_tag
    %link{:href => image_url("favicon#{"-#{I18n.locale}" if white_label?}.ico"), :rel => "shortcut icon", :type => "image/x-icon"}
    = stylesheet_link_tag asset_path('font-awesome.css'), media: :all
    = stylesheet_link_tag "rails_admin/rails_admin.css", media: :all
    = javascript_include_tag "rails_admin/rails_admin.js"
    -# Initialize JS simple i18n
    - locale_config = j I18n.t("admin.js").to_json
    :javascript
      if ("#{I18n.locale}" != "es"){
        moment.defineLocale('#{I18n.locale}', JSON.parse("#{locale_config}"))
      }
      RailsAdmin.I18n.init('#{I18n.locale}', JSON.parse("#{locale_config}"))
  %body.rails_admin
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    %nav.navbar.navbar-default.navbar-fixed-top{class: ("#{I18n.locale}-menu" if white_label?)}
      = render "layouts/rails_admin/navigation"
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar-nav
          = render "layouts/rails_admin/sidebar_navigation"
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
          .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
