:javascript
  $('.nav.nav-pills li.active').removeClass('active');
  $('.nav.nav-pills li[data-model="#{@abstract_model.to_param}"]').addClass('active');

%title= white_label? ? "Admin - #{Config.get("company_name")}" : "Admin"
.page-header
  %h1= @page_name
  - should_display_model_description = @action.is_a?(RailsAdmin::Config::Actions::EditFirst) || (@abstract_model && !@object)
  - model_description = should_display_model_description && (I18n.t!("model_descriptions.#{@abstract_model.to_param}") rescue false)
  - if model_description
    %h5.text-muted= model_description
- flash && flash.each do |key, value|
  .alert.alert-dismissible{class: flash_alert_class(key)}
    %button.close{type: 'button', :'data-dismiss' => "alert"} &times;
    = value
= breadcrumb
%ul.nav.nav-tabs
  = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
  = content_for :contextual_tabs
= yield
